.equalizer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 30px;
  gap: 4px;
}

.equalizer span {
  display: block;
  width: 5px;
  height: 10px;
  background-color: #00ff88;
  border-radius: 2px;
  animation: bounce 1s infinite ease-in-out;
}

.equalizer span:nth-child(2) {
  animation-delay: 0.2s;
}
.equalizer span:nth-child(3) {
  animation-delay: 0.4s;
}
.equalizer span:nth-child(4) {
  animation-delay: 0.6s;
}
.equalizer span:nth-child(5) {
  animation-delay: 0.8s;
}

@keyframes bounce {
  0%, 100% {
    height: 10px;
    opacity: 0.5;
  }
  50% {
    height: 30px;
    opacity: 1;
  }
}
