<div class="background p-4 flex flex-row justify-end">
  <div class="w-[40%] bg-secondary p-5 rounded-4xl shadow-md h-full overflow-auto scroll-hidden flex flex-col justify-between">
    <div class="relative flex-1 mt-1">
        <div *ngIf="step === 1" class="transition-all duration-500 ease-in-out opacity-100" [ngClass]="{ 'opacity-0 -translate-x-10': step !== 1 }">
            <app-home></app-home>
        </div>
        <div *ngIf="step === 2" class="transition-all duration-500 ease-in-out opacity-100" [ngClass]="{ 'opacity-0 -translate-x-10': step !== 2 }">
            <app-information></app-information>
        </div>
        <div *ngIf="step === 3" class="transition-all duration-500 ease-in-out opacity-100" [ngClass]="{ 'opacity-0 translate-x-10': step !== 3 }">
            <app-test></app-test>
        </div>
        <div *ngIf="step === 4" class="transition-all duration-500 ease-in-out opacity-100" [ngClass]="{ 'opacity-0 translate-x-10': step !== 4 }">
            <app-interview></app-interview>
        </div>
        <div *ngIf="step === 5" class="transition-all duration-500 ease-in-out opacity-100" [ngClass]="{ 'opacity-0 translate-x-10': step !== 5 }">
            <app-interview-process></app-interview-process>
        </div>
        <div *ngIf="step === 6" class="transition-all duration-500 ease-in-out opacity-100" [ngClass]="{ 'opacity-0 translate-x-10': step !== 6 }">
            <app-voice-interview></app-voice-interview>
        </div>
    </div>
    <div class="flex justify-between mt-6">
        <div class="flex w-full gap-3 flex-flow">
            @if (reApplyUser == true && step === 3) {
                <button (click)="reviewInformation()" class="!w-full bg-primary text-black px-4 py-3 text-xl font-Playfair rounded-full">
                    Review Information
                </button>
            }
            @else {
                <button *ngIf="step !==1 && step !==2 && step !==5" (click)="prevStep()" class="bg-accent text-white px-4 py-3 text-xl font-Playfair rounded-full">
                    <lucide-icon [img]="back"></lucide-icon>
                </button>
            }
            <div *ngIf="step === 2 && form === 7 && info == 'true'" class="w-full flex flex-row gap-2">
                <button (click)="prevStep()" class="bg-accent text-white px-4 py-3 text-xl font-Playfair rounded-full">
                    <lucide-icon [img]="back"></lucide-icon>
                </button>
                <button (click)="submitInfo()" class="w-full bg-accent text-white px-6 py-3 text-xl font-Playfair rounded-full">
                    Next
                </button>
            </div>
            <button *ngIf="step !== 2 && step !== 3 && step !== 5" (click)="nextStep()" class="w-full bg-accent text-white px-6 py-3 text-xl font-Playfair rounded-full">
                Proceed
            </button>
            <button *ngIf="step === 4" (click)="voice()" class="w-full bg-accent text-white px-6 py-3 text-xl font-Playfair rounded-full">
                Voice
            </button>
            <button *ngIf="step === 3" (click)="nextStep()" class="bg-accent !w-full text-white px-6 py-3 text-xl font-Playfair rounded-full cursor-pointer disabled:cursor-not-allowed" [disabled]="generalInterview != 'Done'">
                Complete
            </button>
        </div>
        
    </div>
  </div>
</div>
@if (disclaimerVisible) {
    <app-disclaimer [isVisible]="isVisible" (confirmDisclaimer)="confirmDisclaimer()"></app-disclaimer>
}
@if (!applicationVerifier) {
    <app-validation [isVisible]="verifierisVisible" (confirmVerifier)="confirmVerifier()"></app-validation>
}

