<div class="w-full h-vh p-10 bg-gradient-to-br from-gray-100 via-gray-200 to-gray-300">
    <div class="flex flex-row justify-between">
        <header class="text-4xl font-Playfair font-bold pb-4">Interview Summary</header>
        <div class="flex flex-row items-center gap-3">
            <button class="p-2 bg-green-600 text-white rounded-xl shadow-md px-6" (click)="sendHiredConfirmation()">Hire</button>
            <button class="p-2 bg-red-600 text-white rounded-xl shadow-md px-6" (click)="sendRejectConfirmation()">Reject</button>
        </div>
    </div>
    <div class="flex flex-row gap-6">
        <div class="w-2/3 bg-white/90 backdrop-blur-lg p-6 rounded-2xl shadow-xl overflow-y-auto border border-gray-200">
        <header class="font-Playfair text-2xl font-bold border-b pb-3 text-gray-800">
            Applicant Information
        </header>

        <div *ngIf="!loading; else loadingBlock" class="mt-6 space-y-6">
            <section *ngIf="applicant" class="bg-gray-50 rounded-xl p-4 shadow-sm border">
            <h3 class="font-semibold text-lg text-gray-700 mb-2">👤 Personal</h3>
            <p><b>Name:</b> {{ applicant.firstname }} {{ applicant.lastname }}</p>
            <p><b>Email:</b> {{ applicant.email }}</p>
            <p><b>Phone:</b> {{ applicant.contactnumber }}</p>
            <p><b>Desired Position:</b> {{ applicant.desiredPosition }}</p>
            </section>
            <section *ngIf="education" class="bg-gray-50 rounded-xl p-4 shadow-sm border">
            <h3 class="font-semibold text-lg text-gray-700 mb-2">🎓 Education</h3>
            <p><b>School:</b> {{ education.college }}</p>
            <p><b>Degree:</b> {{ education.course }}</p>
            <p><b>Year Graduated:</b> {{ education.yeargraduate }}</p>
            </section>
            <section *ngIf="status" class="bg-gray-50 rounded-xl p-4 shadow-sm border">
            <h3 class="font-semibold text-lg text-gray-700 mb-2">📌 Application Status</h3>
            <p><b>One Year Contatract:</b> {{ status.lockincontract }}</p>
            <p><b>Drivers License:</b> {{ status.license }}</p>
            <p><b>Motorcycle:</b> {{ status.motorcycle }}</p>
            </section>
            <section *ngIf="eligibility" class="bg-gray-50 rounded-xl p-4 shadow-sm border">
            <h3 class="font-semibold text-lg text-gray-700 mb-2">✅ Eligibility</h3>
            <p>{{ eligibility.eligibility }}</p>
            </section>
            <section *ngIf="marriage" class="bg-gray-50 rounded-xl p-4 shadow-sm border">
            <h3 class="font-semibold text-lg text-gray-700 mb-2">💍 Marriage</h3>
            <p><b>Status:</b> {{ marriage.dateMarried }}</p>
            </section>
            <section *ngIf="work" class="bg-gray-50 rounded-xl p-4 shadow-sm border">
            <h3 class="font-semibold text-lg text-gray-700 mb-2">💼 Work Experience</h3>
            <p><b>Company:</b> {{ work.companyname }}</p>
            <p><b>Role:</b> {{ work.position }}</p>
            <p><b>Reason for Leaving:</b> {{ work.reasonforleaving }}</p>
            <p><b>Duration:</b> {{ work.workduration }}</p>
            </section>

            <section *ngIf="wpm" class="bg-gray-50 rounded-xl p-4 shadow-sm border">
            <h3 class="font-semibold text-lg text-gray-700 mb-2">⌨️ Typing Test</h3>
            <p><b>WPM:</b> {{ wpm.wpm }}</p>
            <p><b>ACCURACY:</b> {{ wpm.accuracy }}</p>
            </section>
            <section *ngIf="iq" class="bg-gray-50 rounded-xl p-4 shadow-sm border">
            <h3 class="font-semibold text-lg text-gray-700 mb-2">🧠 IQ Test</h3>
            <p><b>Score:</b> {{ iq.score }}</p>
            </section>
            <section *ngIf="status" class="bg-gray-50 rounded-xl p-4 shadow-sm border">
            <h3 class="font-semibold text-lg text-gray-700 mb-2">Portfolio</h3>
            <p><b>Portfolio:</b> <a href="{{ status.potfolio_link }}"> {{ status.potfolio_link }}</a></p>
            </section>

        </div>
    </div>
    <div class="w-1/3 bg-white/90 backdrop-blur-lg p-6 rounded-2xl shadow-xl border border-gray-200 flex flex-col">
        
        <div>
            <header class="font-Playfair text-2xl font-bold border-b pb-3 text-gray-800">
                Evaluation
            </header>
            <div class="grid grid-cols-3 justify-items-center gap-3 w-full mt-4">
                <div class="flex flex-col text-center items-center">
                    <div class="border rounded-full h-15 w-15 bg-green-300 border-orange-600 flex justify-center items-center">
                        <b class="text-2xl">{{conversation?.care}}</b>
                    </div>
                    <span><b>Care</b></span>
                </div>
                <div class="flex flex-col text-center items-center">
                    <div class="border rounded-full h-15 w-15 bg-green-300 border-orange-600 flex justify-center items-center">
                        <b class="text-2xl">{{conversation?.discipline}}</b>
                    </div>
                    <span><b>Discipline</b></span>
                </div>
                <div class="flex flex-col text-center items-center">
                    <div class="border rounded-full h-15 w-15 bg-green-300 border-orange-600 flex justify-center items-center">
                        <b class="text-2xl">{{conversation?.ambition}}</b>
                    </div>
                    <span><b>Ambition</b></span>
                </div>
                <div class="flex flex-col text-center items-center">
                    <div class="border rounded-full h-15 w-15 bg-green-300 border-orange-600 flex justify-center items-center">
                        <b class="text-2xl">{{conversation?.influence}}</b>
                    </div>
                    <span><b>Influence</b></span>
                </div>
                <div class="flex flex-col text-center items-center">
                    <div class="border rounded-full h-15 w-15 bg-green-300 border-orange-600 flex justify-center items-center">
                        <b class="text-2xl">{{conversation?.skillsDevelopment}}</b>
                    </div>
                    <span><b>Skills Development</b></span>
                </div>
                <div class="flex flex-col text-center items-center">
                    <div class="border rounded-full h-15 w-15 bg-green-300 border-orange-600 flex justify-center items-center">
                        <b class="text-2xl">{{conversation?.technicalSkills}}</b>
                    </div>
                    <span><b>Technical Skills</b></span>
                </div>
            </div>
            <div class="border rounded-xl p-4 mt-3">
                <b>{{conversation?.commentary}}</b>
            </div>
        </div>
        <header class="font-Playfair text-2xl font-bold border-b pb-3 text-gray-800 mt-4">
            Interview Assesment
        </header>

        <div *ngIf="conversation; else noConversation" class="mt-6 flex-1 overflow-y-auto space-y-4 h-auto">
            <div *ngFor="let msg of conversation.messages" class="p-3 rounded-xl"
                [ngClass]="msg.role === 'user' ? 'bg-blue-50 border border-blue-200 text-gray-800' : 'bg-gray-100 border border-gray-200 text-gray-700'">
                <p class="text-sm">
                    <span class="font-semibold">{{ msg.role | titlecase }}:</span>
                    {{ msg.content }}
                </p>
            </div>
        </div>

            <ng-template #noConversation>
                <p class="text-gray-500 mt-6">No conversation found.</p>
            </ng-template>
        </div>
    </div>
</div>

<ng-template #loadingBlock>
  <p class="text-gray-500 italic animate-pulse">Loading applicant data...</p>
</ng-template>
