<div class="w-full block flex-col flex">
    <div>
        <form class="flex flex-row">
            <div *ngIf="displayForm == 1">
                <div class="w-full flex flex-row items-center gap-3">
                    <header class="text-3xl font-Playfair text-white">
                        Applicant Information
                    </header>
                </div>
                <form>
                    <div class="flex flex-row gap-2">
                        <div class="w-2/4">
                            <label for="" class="text-lg font-Lora text-white">First Name <span class="text-red-700">*</span></label>
                            <input type="text" name="firstname" [(ngModel)]="applicantinformation.firstname" id="" class="w-full p-2 bg-primary rounded-md outline-none" placeholder="First Name" required>
                        </div>
                        <div class="w-2/4">
                            <label class="text-lg font-Lora text-white">
                                Middle Name <span class="text-red-700">*</span>
                            </label>
                            <div class="flex items-center gap-2">
                                <input
                                    type="text"
                                    name="middlename"
                                    [(ngModel)]="applicantinformation.middlename"
                                    [disabled]="middleNameNA"
                                    class="w-full p-2 bg-primary rounded-md outline-none"
                                    placeholder="Middle Name"
                                    [required]="!middleNameNA">
                                <input
                                    type="checkbox"
                                    name="middleNameNA"
                                    [(ngModel)]="middleNameNA"
                                    id="middleNA"
                                    (change)="toggleMiddleNameNA()">
                                <label for="middleNA" class="text-white">N/A</label>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-row gap-2">
                        <div class="w-2/3">
                            <label for="" class="text-lg font-Lora text-white">Family Name <span class="text-red-700">*</span></label>
                            <input type="text" name="lastname" [(ngModel)]="applicantinformation.lastname" id="" class="w-full p-2 bg-primary rounded-md outline-none" placeholder="Last Name" required>
                        </div>
                        <div class="w-1/3">
                            <label for="" class="text-lg font-Lora text-white">Nickname <span class="text-red-700">*</span></label>
                            <input type="text" name="nickname" [(ngModel)]="applicantinformation.nickname" id="" class="w-full p-2 bg-primary rounded-md outline-none" placeholder="Nick Name" required>
                        </div>
                    </div>
                    <div class="flex flex-row gap-2">
                        <div class="w-2/4">
                            <label for="" class="text-lg font-Lora text-white">Gender <span class="text-red-700">*</span></label>
                            <select name="gender" [(ngModel)]="applicantinformation.gender" id="" class="w-full p-2 bg-primary rounded-md outline-none">
                                <option value="">-- Select Gender --</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>
                        <div class="w-2/4">
                            <label for="" class="text-lg font-Lora text-white">Blood Type <span class="text-red-700">*</span></label>
                            <select name="blood_type" [(ngModel)]="applicantinformation.blood_type" id="" class="w-full p-2 bg-primary rounded-md outline-none">
                                <option value="">-- Select Blood Type --</option>
                                <option value="A+">A+</option>
                                <option value="A-">A-</option>
                                <option value="B+">B+</option>
                                <option value="B-">B-</option>
                                <option value="AB+">AB+</option>
                                <option value="AB-">AB-</option>
                                <option value="O+">O+</option>
                                <option value="O-">O-</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <label for="" class="text-lg font-Lora text-white">Email <span class="text-red-700">*</span></label>
                        <input type="mail" name="email" id="" [(ngModel)]="applicantinformation.email" class="w-full p-2 bg-primary rounded-md outline-none" placeholder="Email" required>
                    </div>
                    <div>
                        <label for="" class="text-lg font-Lora text-white">Desired Position <span class="text-red-700">*</span></label>
                        <select [(ngModel)]="applicantinformation.positionSelected" name="positionSelected" id="" class="w-[100%] p-2 bg-primary rounded-md outline-none appearance-none" required>
                            <option value="">-Select Available Position-</option>
                            <option value="Accounting Staff">Accounting Staff</option>
                            <option value="Architect">Architect</option>
                            <option value="Architectural Designer">Architectural Designer</option>
                            <option value="Audit Staff">Audit Staff</option>
                            <option value="Backhoe Driver/Mechanic">Backhoe Driver/Mechanic</option>
                            <option value="Business Process Manualization Supervisor">Business Process Manualization Supervisor</option>
                            <option value="Civil Engineer">Civil Engineer</option>
                            <option value="Custodianship Staff">Custodianship Staff</option>
                            <option value="Digital Marketing Lead">Digital Marketing Lead</option>
                            <option value="Driver/Mechanic">Driver/Mechanic</option>
                            <option value="Funeral Marshal">Funeral Marshal</option>
                            <option value="Graphic Designer">Graphic Designer</option>
                            <option value="Heavy Equipment Mechanic">Heavy Equipment Mechanic</option>
                            <option value="HR Staff">HR Staff</option>
                            <option value="IS Business Process Manualization">IS Business Process Manualization</option>
                            <option value="IT Staff">IT Staff</option>
                            <option value="Kasambahay">Kasambahay</option>
                            <option value="Laborer">Laborer</option>
                            <option value="Landscaper">Landscaper</option>
                            <option value="Painter">Painter</option>
                            <option value="Planning Staff">Planning Staff</option>
                            <option value="Project Coordinator Staff">Project Coordinator Staff</option>
                            <option value="Purchasing Staff">Purchasing Staff</option>
                            <option value="Operations checker">Operations checker</option>
                            <option value="Skilled Mason">Skilled Mason</option>
                            <option value="Software Developer">Software Developer</option>
                            <option value="Treasury Staff">Treasury Staff</option>
                            <option value="Welder">Welder</option>
                        </select>
                    </div>
                    <div class="flex flex-row gap-2">
                        <div class="w-1/2">
                            <label for="" class="text-lg font-Lora text-white">Civil Status <span class="text-red-700">*</span></label>
                            <select name="civilstatus" [(ngModel)]="applicantinformation.civilStatus" id="" class="w-full p-2 bg-primary rounded-md outline-none" required>
                                <option value="Single">Single</option>
                                <option value="Married">Married</option>
                                <option value="Widowed">Widowed</option>
                                <option value="Separated">Separated</option>
                            </select>
                        </div>
                        <div class="w-1/2">
                            <label for="" class="text-lg font-Lora text-white">Contact Number <span class="text-red-700">*</span></label>
                            <input type="text" name="contactnumber" [(ngModel)]="applicantinformation.contactnumber" id="" class="w-full p-2 bg-primary rounded-md outline-none" placeholder="Contact Number" required>
                        </div>
                    </div>
                    <div class="flex flex-row gap-2">
                        <div class="w-1/2">
                            <label for="" class="text-lg font-Lora text-white">Birth Date <span class="text-red-700">*</span></label>
                            <input type="date" name="birthdate" [(ngModel)]="applicantinformation.birthdate" id="" class="w-full p-2 bg-primary rounded-md outline-none" required>
                        </div>
                        <div class="w-1/2">
                            <label for="" class="text-lg font-Lora text-white">Religion <span class="text-red-700">*</span></label>
                            <select name="religion" [(ngModel)]="applicantinformation.religion" id="" class="w-full p-2 bg-primary rounded-md outline-none" required>
                                <option value="">---Select Religion---</option>
                                <option value="Roman Catholic">Roman Catholic</option>
                                <option value="Islam">Islam</option>
                                <option value="Iglesia ni Cristo">Iglesia ni Cristo</option>
                                <option value="Seventh Day Adventist">Seventh Day Adventist</option>
                                <option value="Aglipay">Aglipay</option>
                                <option value="Bible Baptist Church">Bible Baptist Church</option>
                                <option value="Iglesia Filipino Independiente">Iglesia Filipino Independiente</option>
                                <option value="United Church of Christ in the Philippines">United Church of Christ in the Philippines</option>
                                <option value="Jehovah's Witness">Jehovah's Witness</option>
                                <option value="Church of Christ">Church of Christ</option>
                                <option value="Others">Others</option>
                                <option value="None">None</option>
                            </select>
                        </div>
                    </div>
                    <div class="flex flex-row gap-2">
                        <div class="w-2/3">
                            <label for="" class="text-lg font-Lora text-white">Province <span class="text-red-700">*</span></label>
                            <select name="provinceField" [(ngModel)]="provinceField" (change)="selected()" class="w-full p-1 rounded bg-white" required>
                                <option *ngFor="let province of displayAddress" [ngValue]="province">
                                    {{ province.name }}
                                </option>
                            </select>
                        </div>
                        <div class="w-1/3">
                            <label for="" class="text-lg font-Lora text-white">City <span class="text-red-700">*</span></label>
                            <select name="municipalityField" [(ngModel)]="municipalityField" (change)="citiesSelected()" class="w-full p-1 rounded bg-white" required>
                                <option *ngFor="let city of displayCity" [ngValue]="city">
                                    {{ city.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="flex flex-row gap-2">
                        <div class="w-2/3">
                            <label for="" class="text-lg font-Lora text-white">Barangay <span class="text-red-700">*</span></label>
                            <select name="barangayField" [(ngModel)]="barangayField" class="w-full p-1 rounded bg-white" required>
                                <option *ngFor="let barangay of displayBarangay" [ngValue]="barangay">
                                    {{ barangay.name }}
                                </option>
                            </select>
                        </div>
                        <div class="w-2/3">
                            <label for="" class="text-lg font-Lora text-white">Zip Code <span class="text-red-700">*</span></label>
                            <input type="text" name="zipcode" [(ngModel)]="applicantinformation.zipcode" id="" class="w-full p-1 bg-primary rounded-md outline-none" placeholder="Address" required>
                        </div>
                    </div>
                    <div>
                        <label for="" class="text-lg font-Lora text-white">Expected Salary <span class="text-red-700">*</span></label>
                        <input type="text" name="expectedsalary" [(ngModel)]="applicantinformation.expectedSalary" id="" class="w-full p-2 bg-primary rounded-md outline-none" placeholder="Expected Salary" required>
                    </div>
                    <button class="w-full bg-accent text-white p-2 rounded-full font-Playfair font-semibold mt-3" (click)="openOTPModal()">Next</button>
                </form>
            </div>
            
            <div *ngIf="displayForm == 2" class="w-full">
                <span (click)="previousForm()" class="text-white cursor-pointer">Back</span>
                <header class="font-Playfair text-2xl mt-3 text-white border-b-2 pb-1">Eligibility <span class="text-red-700">*</span></header>
                <form (ngSubmit)="addEligibility()">
                    <div class="flex flex-row py-2 gap-3 justify-center items-center">
                        <input type="text" name="eligibility" [(ngModel)]="eligibilityField.eligibility" id="" placeholder="Eligibility" class="bg-white p-2 w-full rounded-xl" disabled>
                        <lucide-icon [img]="PlusCircle" (click)="openEligibility()" class="cursor-pointer"></lucide-icon>
                    </div>
                    <button class="w-full bg-accent text-white p-2 rounded-full font-Playfair font-semibold mt-3 ">Next</button>
                </form>
                @if (eligibilityVisible) {
                    <div class="p-5 w-full rounded-xl shadow-md bg-white absolute top-0 ">
                        <header class="text-2xl font-Playfair border-b-2 pb-2">Select Eligibility</header>
                        <div>
                            <div class="flex flex-row justify-left items-center gap-2 mt-2">
                                <input type="checkbox" name="cs" [(ngModel)]="eligibilityOptions.cs" id="CS">
                                <label for="CS">CS Passer</label>
                            </div>
                            <div class="flex flex-row justify-left items-center gap-2 mt-2">
                                <input type="checkbox" name="let" [(ngModel)]="eligibilityOptions.let" id="LET">
                                <label for="LET">LET Passer</label>
                            </div>
                            <div class="flex flex-row justify-left items-center gap-2 mt-2">
                                <input type="checkbox" name="board" [(ngModel)]="eligibilityOptions.board" id="Board" value="Board Exam Passer">
                                <label for="Board">Board Exam Passer</label>
                            </div>
                            <div class="flex flex-row justify-left items-center gap-2 mt-2">
                                <input type="checkbox" name="none" [(ngModel)]="eligibilityOptions.none" id="None" value="None">
                                <label for="None">None</label>
                            </div>
                            <div class="flex flex-row justify-left items-center gap-2 mt-2">
                                <input type="checkbox" name="" id="Others" (change)="otherSelected()">
                                <label for="Others">Others</label>
                                <div class="w-full">
                                    @if (OthersField) {
                                        <div>
                                            <input type="text" [(ngModel)]="otherEligibility" name="otherEligibility"  id="" class="w-full border-b-1 placeholder:text-gray-150" placeholder="e.g Board Exam Passer">
                                        </div>
                                    }
                                </div>
                            </div>
                            
                        </div>
                        <button (click)="selectEligibility()" class="w-full bg-accent text-white rounded-full mt-2 p-2">Select</button>
                    </div>
                }
            </div>
            <div *ngIf="displayForm == 3" class="w-full">
                <span (click)="previousForm()" class="text-white cursor-pointer">Back</span>
                <header class="font-Playfair text-2xl mt-3 text-white border-b-2 pb-1">Educational Background</header>
                <label for="" class="text-white font-Playfair text-xl mt-1">College Graduate</label>
                <select [(ngModel)]="collegeGraduate" name="collegeGraduate" class="w-full border rounded-md p-2 mt-2">
                    <option [ngValue]="false">--Please Select--</option>
                    <option [ngValue]="true">Yes</option>
                    <option [ngValue]="false">No</option>
                </select>
                
                <form (ngSubmit)="EducationalInformation()">
                    @if (collegeGraduate) {
                        <div class="mt-2">
                            <label for="" class="text-lg font-Lora text-white">Name of College</label>
                            <input type="text" name="college" [(ngModel)]="EducationalField.college" id="" class="w-full p-2 bg-primary rounded-md outline-none" placeholder="Name of College">
                        </div>
                        <div class="flex flex-row gap-2">
                            <div class="w-2/3">
                                <label for="" class="text-lg font-Lora text-white">College Course Graduated</label>
                                <input type="text" name="course" [(ngModel)]="EducationalField.course" id="" class="w-full p-2 bg-primary rounded-md outline-none" placeholder="Course">
                            </div>
                            <div class="w-1/3">
                                <label for="" class="text-lg font-Lora text-white">Year Graduated College</label>
                                <input type="text" name="yeargraduate" [(ngModel)]="EducationalField.yeargraduate" id="" class="w-full p-2 bg-primary rounded-md outline-none" placeholder="ex: 2023">
                            </div>
                        </div>
                        <div class="mt-2">
                            <label for="" class="text-lg font-Lora text-white text-justify">When do you plan to take Graduate Course? <span class="text-base">(Please indicate year if applicable)</span></label>
                            <input type="text" name="graduateschool" id="" [(ngModel)]="EducationalField.graduateschool" class="w-full p-2 bg-primary rounded-md outline-none" placeholder="ex: 2026">
                        </div>
                        <div class="mt-2">
                            <label for="" class="text-lg font-Lora text-white text-justify">When do you plan to take your board exams? If no Plans, please indicate "No Plans". If already took the exam, please specify what exam was taken and the result [Passed/Failed]. (Ex: CPA Board Exam - Failed)</label>
                            <input type="text" name="boardexam" id="" [(ngModel)]="EducationalField.boardexam" class="w-full p-2 bg-primary rounded-md outline-none" placeholder="CPA Board Exam - PASSED/FAILED">
                        </div>
                    }
                    <button (click)="nextStep()" class="w-full bg-accent text-white p-2 rounded-full font-Playfair font-semibold mt-3 ">Next</button>
                </form>
            </div>
            <div *ngIf="displayForm == 4" class="w-full">
                <span (click)="previousForm()" class="text-white cursor-pointer">Back</span>
                <header class="font-Playfair text-2xl mt-3 text-white border-b-2 pb-1">Marriage</header>
                <label for="" class="text-white font-Playfair text-xl mt-1">Are you Married?</label>
                <select [(ngModel)]="marriage" name="marriage" class="w-full border rounded-md p-2 mt-2">
                    <option [ngValue]="false">--Please Select--</option>
                    <option [ngValue]="true">Yes</option>
                    <option [ngValue]="false">No</option>
                </select>
                <form (ngSubmit)="MarriageInformation()">
                    @if (marriage) {
                        <div class="flex flex-row gap-2">
                            <div class="w-2/3">
                                <label for="" class="text-lg font-Lora text-white">What is your partner's religion?</label>
                                <input type="text" name="partnerReligion" [(ngModel)]="MarriageField.partnerReligion" id="" class="w-full p-2 bg-primary rounded-md outline-none" placeholder="Religion">
                            </div>
                            <div class="w-1/3">
                                <label for="" class="text-lg font-Lora text-white">Date Marriage</label>
                                <input type="date" name="dateMarried" [(ngModel)]="MarriageField.dateMarried" id="" class="w-full p-2 bg-primary rounded-md outline-none">
                            </div>
                        </div>
                        <header class="font-Playfair text-2xl mt-3 text-white border-b-2 pb-1">Do you have a child</header>
                        <div class="flex flex-row gap-3 mt-3">
                            <label class="flex items-center space-x-2 cursor-pointer w-full">
                                <input type="radio" name="child" [(ngModel)]="MarriageField.child" value="yes" class="hidden peer">
                                <span class="px-4 w-full py-2 rounded-lg text-center border-2 border-white peer-checked:bg-green-700 peer-checked:text-white peer-checked:border-none">
                                    Yes
                                </span>
                            </label>

                            <label class="flex items-center space-x-2 cursor-pointer w-full">
                                <input type="radio" name="child" [(ngModel)]="MarriageField.child" value="no" class="hidden peer">
                                <span class="px-4 w-full py-2 rounded-lg text-center border-2 border-white peer-checked:bg-red-700 peer-checked:text-white peer-checked:border-none">
                                    No
                                </span>
                            </label>
                            
                        </div>
                        <div class="mt-2">
                            <label for="" class="text-lg font-Lora text-white text-justify">How many children do you have?</label>
                            <input type="text" name="numberofchildren" [(ngModel)]="MarriageField.numberofchildren" id="" class="w-full p-2 bg-primary rounded-md outline-none" placeholder="No. of Children">
                        </div>
                        <div class="mt-2">
                            <label for="" class="text-lg font-Lora text-white text-justify">Age of Children?</label>
                            <input type="text" name="ageofchildren" [(ngModel)]="MarriageField.ageofchildren" id="" class="w-full p-2 bg-primary rounded-md outline-none" placeholder="Age of Childrens">
                        </div>
                        <div class="mt-2">
                            <label for="" class="text-lg font-Lora text-white text-justify">Who is taking care of your dependents while you are working?</label>
                            <input type="text" name="guardianofchildren" [(ngModel)]="MarriageField.guardianofchildren" id="" class="w-full p-2 bg-primary rounded-md outline-none" placeholder="">
                        </div>
                    }
                    <button (click)="nextStep()" class="w-full bg-accent text-white p-2 rounded-full font-Playfair font-semibold mt-3 ">Next</button>
                </form>
            </div>
            <div *ngIf="displayForm == 5" class="w-full">
                <span (click)="previousForm()" class="text-white cursor-pointer">Back</span>
                <header class="font-Playfair text-xl mt-3 text-white border-b-2 pb-1">Add Work Experience <span class="text-base">(Click New to add more Work Experience)</span></header>
                <div class="mt-3 space-y-2">
                    <div *ngFor="let item of workingList; let i = index" class="p-3 bg-white rounded-md shadow">
                        <p class="font-semibold">{{ item.companyname }} ({{ item.position }})</p>
                        <p class="text-sm">Duration: {{ item.workduration }}</p>
                        <p class="text-sm">Reason: {{ item.reasonforleaving }}</p>
                        <p class="text-sm">Compensation: {{ item.previouscompensation }}</p>
                    </div>
                </div>
                <button class="bg-accent text-white font-Lora rounded-full p-2 mt-2 font-semibold" (click)="openExperience()">+ Add New Work Experience</button>
                <button (click)="nextStep()" class="w-full bg-accent text-white p-2 rounded-full font-Playfair font-semibold mt-3 ">Next</button>
                @if (WorkExperienceFieldStatus) {
                    <div class="w-full h-auto p-4 bg-white absolute top-0 duration-500 rounded-xl shadow-xl">
                        <header class="flex flex-row justify-between items-center">
                            <span class="font-Playfair text-2xl">Work History</span>
                            <lucide-icon [img]="close" (click)="closeExperience()" class="cursor-pointer"></lucide-icon>
                        </header>
                        <form (ngSubmit)="workingExperience()">
                            <div class="mt-2">
                                <label for="" class="font-Lora text-base">Name of Company</label>
                                <input type="text" name="companyname" [(ngModel)]="WorkingInformation.companyname!" id="" class="w-full border rounded-md p-2" placeholder="Company Name">
                            </div>
                            <div class="mt-2">
                                <label for="" class="font-Lora text-base">How long did you work?</label>
                                <div class="flex flex-row gap-2">
                                    <div class="flex flex-col w-full">
                                        <label for="fromDate">From</label>
                                        <input type="date" id="fromDate" [(ngModel)]="fromDate" name="fromDate" (change)="calculateDuration()" class="w-full border rounded p-1">
                                    </div>
                                    <div class="flex flex-col w-full">
                                        <label for="toDate">To</label>
                                        <input type="date" id="toDate" [(ngModel)]="toDate" name="toDate" (change)="calculateDuration()" class="w-full border rounded p-1">
                                    </div>
                                    </div>
                                    <input type="text" name="workduration" [(ngModel)]="WorkingInformation.workduration" id="" class="w-full border rounded-md p-2 hidden" placeholder="Duration" readonly>
                                </div>
                            <div class="mt-2">
                                <label for="" class="font-Lora text-base">What made you leave?</label>
                                <input type="text" name="reasonforleaving" [(ngModel)]="WorkingInformation.reasonforleaving!" id="" class="w-full border rounded-md p-2" placeholder="What made you leave?">
                            </div>
                            <div class="mt-2">
                                <label for="" class="font-Lora text-base">Position</label>
                                <input type="text" name="position" [(ngModel)]="WorkingInformation.position!" id="" class="w-full border rounded-md p-2" placeholder="Position">
                            </div>
                            <div class="mt-2">
                                <label for="" class="font-Lora text-base">What was your significant contribution in your previous company?</label>
                                <input type="text" name="contribution" [(ngModel)]="WorkingInformation.contribution" id="" class="w-full border rounded-md p-2" placeholder="Contribution">
                            </div>
                            <div class="mt-2">
                                <label for="" class="font-Lora text-base">How much was your previous compensation?</label>
                                <input type="text" name="previouscompensation" [(ngModel)]="WorkingInformation.previouscompensation!" id="" class="w-full border rounded-md p-2" placeholder="Position">
                            </div>
                            <button class="w-full p-2 rounded-xl bg-accent text-white mt-3">
                                Submit Changes
                            </button>
                        </form>
                    </div>
                }
            </div>
            <div *ngIf="displayForm == 6">
                <span (click)="previousForm()" class="text-white cursor-pointer">Back</span>
                <form (click)="applicationStatusInformation()">
                    <header class="font-Lora text-xl text-white border-b-2 pb-1">Do you have any pending application with the government or other companies that might derail your application/employment with us?</header>
                    <div class="flex flex-row gap-3 mt-3">
                        <label class="flex items-center space-x-2 cursor-pointer w-full">
                            <input type="radio" name="pendingapplication" [(ngModel)]="ApplicationStatusField.pendingapplication" value="yes" class="hidden peer">
                            <span class="px-4 w-full py-2 rounded-lg text-center border-2 border-white peer-checked:bg-green-700 peer-checked:text-white peer-checked:border-none">
                                Yes
                            </span>
                        </label>

                        <label class="flex items-center space-x-2 cursor-pointer w-full">
                            <input type="radio" name="pendingapplication" [(ngModel)]="ApplicationStatusField.pendingapplication" value="no" class="hidden peer">
                            <span class="px-4 w-full py-2 rounded-lg text-center border-2 border-white peer-checked:bg-red-700 peer-checked:text-white peer-checked:border-none">
                                No
                            </span>
                        </label>
                    </div>
                    <header class="font-Lora text-xl mt-3 text-white border-b-2 pb-1">We have one year lock in contract for employees. Are you certain that you are willing to render minimum of 1 year of service with us regardless of opportunities that might arise in the near future?</header>
                    <div class="flex flex-row gap-3 mt-3">
                        <label class="flex items-center space-x-2 cursor-pointer w-full">
                            <input type="radio" name="lockincontract" [(ngModel)]="ApplicationStatusField.lockincontract" value="yes" class="hidden peer">
                            <span class="px-4 w-full py-2 rounded-lg text-center border-2 border-white peer-checked:bg-green-700 peer-checked:text-white peer-checked:border-none">
                                Yes
                            </span>
                        </label>

                        <label class="flex items-center space-x-2 cursor-pointer w-full">
                            <input type="radio" name="lockincontract" [(ngModel)]="ApplicationStatusField.lockincontract" value="no" class="hidden peer">
                            <span class="px-4 w-full py-2 rounded-lg text-center border-2 border-white peer-checked:bg-red-700 peer-checked:text-white peer-checked:border-none">
                                No
                            </span>
                        </label>
                    </div>
                    <header class="font-Lora text-xl mt-3 text-white border-b-2 pb-1">Do you have motorcycle?</header>
                    <div class="flex flex-row gap-3 mt-3">
                        <label class="flex items-center space-x-2 cursor-pointer w-full">
                            <input type="radio" name="motorcycle" [(ngModel)]="ApplicationStatusField.motorcycle" value="yes" class="hidden peer">
                            <span class="px-4 w-full py-2 rounded-lg text-center border-2 border-white peer-checked:bg-green-700 peer-checked:text-white peer-checked:border-none">
                                Yes
                            </span>
                        </label>

                        <label class="flex items-center space-x-2 cursor-pointer w-full">
                            <input type="radio" name="motorcycle" [(ngModel)]="ApplicationStatusField.motorcycle" value="no" class="hidden peer">
                            <span class="px-4 w-full py-2 rounded-lg text-center border-2 border-white peer-checked:bg-red-700 peer-checked:text-white peer-checked:border-none">
                                No
                            </span>
                        </label>
                    </div>
                    <header class="font-Lora text-xl mt-3 text-white border-b-2 pb-1">Do you have Driver's License?</header>
                    <div class="flex flex-row gap-3 mt-3">
                        <label class="flex items-center space-x-2 cursor-pointer w-full">
                            <input type="radio" name="license" [(ngModel)]="ApplicationStatusField.license" value="yes" class="hidden peer">
                            <span class="px-4 w-full py-2 rounded-lg text-center border-2 border-white peer-checked:bg-green-700 peer-checked:text-white peer-checked:border-none">
                                Yes
                            </span>
                        </label>

                        <label class="flex items-center space-x-2 cursor-pointer w-full">
                            <input type="radio" name="license" [(ngModel)]="ApplicationStatusField.license" value="no" class="hidden peer">
                            <span class="px-4 w-full py-2 rounded-lg text-center border-2 border-white peer-checked:bg-red-700 peer-checked:text-white peer-checked:border-none">
                                No
                            </span>
                        </label>
                    </div>
                    <button (click)="nextStep()" class="w-full bg-accent text-white p-2 rounded-full font-Playfair font-semibold mt-3 ">Next</button>
                </form>
            </div>
            <div *ngIf="displayForm == 7" class="w-full">
                <span (click)="previousForm()" class="text-white cursor-pointer">Back</span>
                <form (ngSubmit)="applicationConfirmation()">
                    <label for="" class="text-lg font-Lora text-white text-justify">Top 3 Technical Skills you are good at</label>
                    <div class="mt-2 flex flex-row items-center justify-between gap-3">
                        <div class="w-full">
                            <input type="text" name="technicalSkills" [(ngModel)]="ApplicationStatusField.technicalSkills" [value]="getSelectedTechnicalSkills()" id="" class="w-full p-2 bg-primary rounded-md outline-none" placeholder="Technical Skills" disabled>
                        </div>
                        <lucide-icon [img]="PlusCircle" (click)="openTechnicalSkills()"></lucide-icon>
                    </div>
                    <div class="mt-1">
                        <label for="" class="text-lg font-Lora text-white">Applicants Question</label>
                        <textarea name="question" [(ngModel)]="ApplicationStatusField.question" id="" class="w-full p-2 bg-primary rounded-md outline-none" placeholder="Applicants Question"></textarea>
                    </div> 
                        <input type="file" (change)="onFileSelected($event)" class="w-full border p-3 rounded-xl mt-3">
                        <span class="w-full text-center block my-2">or</span>
                        <input type="text" name="potfolio_link" placeholder="Portfolio link (optional)" [(ngModel)]="ApplicationStatusField.potfolio_link" class="w-full border p-3 rounded-xl">
                    @if (datastored) {
                        <button class="w-full bg-accent text-white p-2 rounded-full font-Playfair font-semibold mt-3 ">Confirm</button>
                    }
                    
                </form>
                <div *ngIf="TechnocalSkillsVisible" class="p-5 w-full rounded-xl shadow-md bg-white absolute top-0 z-50">
                    <header class="text-2xl font-Playfair border-b-2 pb-2">Select Technical Skills</header>
                    <div class="grid grid-cols-4 gap-2 mt-2">
                        <div *ngFor="let skill of technicalOptionKeys">
                            <div>
                                <div class="flex flex-row gap-2 items-center">
                                    <input type="checkbox" [(ngModel)]="technicalOptions[skill]" [name]="skill">
                                    <label>{{ skill }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="technicalOptions['Other']" class="mt-2">
                        <input type="text" name="otherSkillText" [(ngModel)]="otherSkillText" placeholder="Please specify other skill" class="w-full p-2 border rounded-md">
                    </div>
                    <button (click)="selectTechnicalSkills()" class="w-full bg-accent text-white rounded-full mt-2 p-2">
                        Select
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div *ngIf="otpModal" class="w-full flex flex-row justify-center items-center block fixed top-0 right-0 left-0 h-full bg-black/50">
    <div class="w-2/5 p-5 bg-primary rounded-xl">
        <form (ngSubmit)="submitInformation()">
            <div>
                <label for="">Verify OTP</label>
                <input type="text" name="otpInput" [(ngModel)]="otpInput" class="w-full p-2 border rounded-xl mt-1 placeholder:text-gray-400" id="" placeholder="OTP">
            </div>
            <button class="bg-accent w-full rounded-full text-white mt-3 p-3 disabled:!bg-gray-400" [disabled]="generatedOTP != otpInput">
                Verify OTP
            </button>
        </form>
    </div>
</div>
@if (activeLoader) {
    <app-loader></app-loader>
}